<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:jms="http://www.springframework.org/schema/jms"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:component-scan base-package="service" />

	<bean id="jmsConnFactory" class="org.apache.activemq.spring.ActiveMQConnectionFactory">
		<property name="brokerURL">
			<value>vm://localhost?broker.persistent=false</value>
		</property>
	</bean>

	<bean id="pooledJmsQueueConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory"
		destroy-method="stop">
		<constructor-arg ref="jmsConnFactory" />
	</bean>

	<bean id="queueDestination" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="MyQueue" />
	</bean>


	<bean class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="jmsConnFactory" />
	</bean>

	<jms:annotation-driven/>
	
	<jms:listener-container connection-factory="jmsConnFactory">
		<!-- <jms:listener destination="MyQueue" ref="asyncCreditCardApprover" /> --> 
		<!-- <jms:listener destination="MyQueue" ref="creditCardApprover" method="approve"/> -->
	</jms:listener-container>

	<bean id="jmsListenerContainerFactory"
	        class="org.springframework.jms.config.DefaultJmsListenerContainerFactory">
	    <property name="connectionFactory" ref="jmsConnFactory"/>
	</bean>

	<!-- 
	<bean class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="localhost" />
	</bean>
	 -->
</beans>
	